<strong>Hello, {{ provider }}</strong>

<p>Someone canceled an appointment with you:</p>

<p>
  <strong>Client:</strong> {{ user }}<br />
  <strong>Time of the appointment</strong>: {{ date }}<br />
  <br />
  <small>Now this time slot is free again for new appointments.</small>
</p>
